fastapi==0.110.1
starlette==0.40.0
pydantic==2.10.6
python-dotenv==1.0.1
motor==3.7.1
pymongo==4.10.1
python-multipart==0.0.20
aiofiles==25.1.0
bcrypt==4.2.1
cryptography==46.0.5
jinja2==3.1.6
markupsafe==3.0.2
pillow==11.1.0
aiohappyeyeball==2.6.1
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.9.0
attrs==26.0.0
certifi==2025.2.25
cffi==2.0.0
charset-normalizer==3.4.1
click==8.1.8
distro==1.9.0
dnspython==2.8.0
ecdsa==0.19.1
email-validator==2.3.0
